{% set page_name = "big:post" %}
{% extends "big/base.html" %}
{% block title %}{{ post.title }} - {% endblock %}
{% block main %}
<div class="container mt-5">
	<div class="d-flex">
		<div class="flex-shrink-0">
			<div class="bg-light fs-5 p-4 text-center text-muted border rounded">
				{% if lang %}
				<div>{{ time_format(post.created, 'm-d') }}</div>
				{% else %}
				<div>{{ time_format(post.created, 'M j') }}</div>
				{% endif %}
				<div>{{ time_format(post.created, 'Y') }}</div>
			</div>
		</div>
		<div class="flex-grow-1 ps-sm-2 ps-md-5">
			<h2 class="post-title text-success">
				{{ post.title }}
			</h2>
			<!--{% if post.banner %}
			<div class="mt-4 animate-hover text-center">
				<img class="mb-3 img-fluid" src="{{ post.banner.url }}">
			</div>
			{% elif post.thumbnail %}
			<div class="mt-4 animate-hover text-center">
				<img class="mb-3 img-fluid" src="{{ post.thumbnail.url }}">
			</div>
			{% endif %}-->
			<div class="mt-4 lh-lg post-content">
				{{ post.content | safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}